.form {
    display: flex;
    flex-direction: column;
}

.place-m {
    border: 1px solid #000;
    width: 300px;
    height: 20px;
}

.place-b {
    border: 1px solid #000;
    resize: none;
    width: 300px;
    height: 80px;
}