body {
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    list-style-type: none;
}

a:visited {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 800px;
}

.home__header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__logo {
    padding: 15px;
    width: 70px;
    height: 70px;
    align-items: center;
}

.home__header-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__text {
    padding: 10px;
    font-size: 18px;
}

.subject {
    font-family: monospace;
    font-weight: 700;
    padding: 15px;
    text-decoration: underline;
}

.home__main {
    padding: 20px;
    flex-grow: 1;
}

.home__footer {
    font-weight: 700;
    flex-shrink: 0;
    padding: 20px;
}