.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text {
    padding: 10px;
    font-size: 18px;
}

.subject {
    font-family: monospace;
    font-weight: 700;
    padding: 15px;
    text-decoration: underline;
}

.home__main {
    padding: 20px;
    flex-grow: 1;
}