@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #41444b;
    --color-hover: #52575d;
    --color-active: #fddb3a;
    --color-disable: #41444b60;
    --color-background: #f6f4e6;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background: #f6f4e6;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: inherit;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    list-style-type: none;
}

img {
    vertical-align: top;
}