.input {
    padding: 8px;

    color: var(--color-primary);
    background-color: var(--color-background);

    border: 1px solid var(--color-primary);
    border-radius: 4px;

    text-transform: uppercase;
}